*{box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font:14px "Arial","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}
body,html{height:100%;}
a{color:#666;text-decoration:none}
a:hover{color:#666;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
button{border:0px none;}

.pr{position:relative;}
.fl{float:left;}.fr{float:right;}
.tc{text-align:center}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}

.hr-40,.hr-10,.hr-20,.hr-5{clear:both;}
.hr-40{height:40px;}.hr-20{height:20px;}.hr-10{height:10px;}.hr-5{height:5px;}

.mfull{max-height: 100%;max-width: 100%;}

.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.flexcen{display: flex;justify-content: center;align-items: center;}
.abs{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}

.line2{overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.ops0{opacity: 0;}.ops1{opacity:1;}

.tran500{transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;-moz-transition:all .5s ease;}
.tran1500{transition:all 1.5s ease;-webkit-transition:all 1.5s ease;-o-transition:all 1.5s ease;-moz-transition:all 1.5s ease;}

.trany5:hover{transform:translateY(-5px);-webkit-transform:translateY(-5px);-o-transform:translateY(-5px);-moz-transform:translateY(-5px);}